.spoiler {
    margin: 20px 8px;
}
.spoiler-title {
    position: relative;
    background: #ccc;
    border: 1px solid #000;
    padding: 5px 10px 5px 28px;
    margin: 0;
    cursor: pointer;
    font: inherit;
}
.spoiler-title:before {
    content: "\229e";
    position: absolute;
    left: 10px;
    top: 5px;
}
.spoiler-open .spoiler-title:before {
    content: "\229f";
}
.spoiler-content {
    display: none;
    background: #eee;
    border: 1px solid #000;
    border-top: 0;
    padding: 0 10px;
    overflow: hidden;
}
.spoiler-content:before,
.spoiler-content:after {
    display: block;
    content: "";
    margin: 0 0 10px;
}
.spoiler-open .spoiler-content {
    display: block;
}
